body {
	font: 10px sans-serif;
	padding:20px;
}

.axis path,
.axis line {
	fill: none;
	stroke: #000;
	shape-rendering: crispEdges;
}

.axis-blank text{
	display: none;
}

.dot {
	stroke: #000000;
	opacity:0.7;
/*    fill: #DC143C;*/
}

.error-line {
	stroke-width: 2px;
	stroke-type: solid;
	opacity:0.5;
}
.error-cap {
	stroke-width: 2px;
	stroke-type: solid;
	opacity:0.5;
}

.label{
	fill:black;
	font-size:18pt;
}
.hidden {
	display:none;
}

.button{
	margin:2px;
	cursor:pointer;
}
.clicked{
	background-color: #67aa84;
}