body {
	font: 10px sans-serif;
	padding:20px;
}

#container {
	touch-action: manipulation;
}

.axis path,
.axis line {
	fill: none;
	stroke: #000;
	shape-rendering: crispEdges;
}

.axis-blank text{
	display: none;
}

.dot {
	stroke: #000000;
	opacity:0.7;
/*    fill: #DC143C;*/
}

.error-line {
	stroke-width: 2px;
	stroke-type: solid;
	opacity:0.5;
}
.error-cap {
	stroke-width: 2px;
	stroke-type: solid;
	opacity:0.5;
}

.label{
	fill:black;
	font-size:18pt;
}
.hidden {
	display:none;
}

.buttonsDiv{
	width:180px;
	font-size:14pt;
	border: 2px solid black;
	margin:2px;
	padding:4px;
}

.button{
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	width: 176px;
	margin:2px;
	padding:4px;
	cursor:pointer;
	border: 2px solid gray;
	border-radius: 5px;
	text-align: center;
	font-size:14pt;
}
.clicked{
	border: 4px solid black;
}

.barSelected{
	stroke: black;
	stroke-width: 4px;
}
